body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

section {
    padding: 50px 0;
}

.navbar {
    background-color: #5a89d1 !important;
    z-index: 1030;

}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    color: white;
    transition: opacity 0.3s ease;

}

.navbar-nav .nav-link:hover {
    opacity: 0.7;
}

#showElement {
    margin-top: 20px;
}