<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo For</title>
</head>
<body>
    <h1>Ejemplo de componentes estáticos</h1>
    <section style="border: solid 2px black; display: flex;">
        <div style="width: 100px; border: solid 1px red; margin: 5px;">
            <h3>Producto 1</h3>
            <p>Este es el producto 1</p>
        </div>
        <div style="width: 100px; border: solid 1px red; margin: 5px;">
            <h3>Producto 2</h3>
            <p>Este es el producto 2</p>
        </div>
        <div style="width: 100px; border: solid 1px red; margin: 5px;">
            <h3>Producto 3</h3>
            <p>Este es el producto 3</p>
        </div>
        <div style="width: 100px; border: solid 1px red; margin: 5px;">
            <h3>Producto 4</h3>
            <p>Este es el producto 4</p>
        </div>
        <div style="width: 100px; border: solid 1px red; margin: 5px;">
            <h3>Producto 5</h3>
            <p>Este es el producto 5</p>
        </div>
    </section>
    
    <h1>Ejemplo de componentes dinámicos</h1>
    <section style="border: solid 2px blue; display: flex;"" id="contenedor">

    </section>
    <script src="../js/ejemploFor.js"></script>
</body>
</html>