<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Modulo Principal</h1>

    <!-- Colorcar dos cajas de texto 
    Numero 1:
    Numero 2:
    Colorcar un boton que diga calcular 
    
    Generar un js con la funcion para calcularSuma
    Mostrar el resultado en un alert el resultado de la suma
    
    Agregar otros botones para cubrir todas las operaciones
    aritméticas (suma, resta. multiplicación y división).
    --> 
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dental Care</title>
        <link rel="stylesheet" href="../style/myStyle.css" />
        <link rel="stylesheet" href="../style/bootstrap-5.3.3-dist/css/bootstrap.min.css" />
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Dental Care</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#acercade">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#ubicacion">Ubicación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login.html">Login</a>
                        </li>
                    </ul>
                </div>
        </nav>
    
        <section class="d-flex justify-content-center align-items-center my-5 ">
            <div class="centrarContenedor">
                <div class="card" style="width: 18rem">
                    <img alt="icono-user" src="../img/6.png" width="128" height="128">
                </div>
                <div class="card-body">
                    <h4 class="card-tittle">Calcular</h4>
                    <div>
                        <div class="form-floating mb-3">
                            <input id="intNum1" type="text" class="form-control" placeholder="Numero1" />
                            <label for="intNum1">Numero1</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="intNum2" type="text" class="form-control" placeholder="Numero2" />
                            <label for="intNum2">Numero2</label>
                        </div>
                        <div class="centrarContenedor">
                            <button class="btn btn-success" onclick="calcularSuma()">CalcularSuma</button>
                        </div>
                        <br>
                        <div class="centrarContenedor">
                            <button class="btn btn-success" onclick="calcularResta()">CalcularResta</button>
                        </div> 
                        <br>
                        <div class="centrarContenedor">
                            <button class="btn btn-success" onclick="calcularMultiplicacion()">CalcularMultiplicacion</button>
                        </div>
                        <br>
                        <div class="centrarContenedor">
                            <button class="btn btn-success" onclick="calcularDivision()">CalcularDivision</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- footer -->
        <footer>

        </footer>
        <script src="../js/principal.js"></script>

    </body>
    
    </html>
    

</body>
</html>