<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion pacientes</title>
    <link href="../style/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <h1 id="showElement" class="text-danger collapse">Gestión de pacientes</h1>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#showElement">
        Ocultar
    </button>
    <div id="seccionFormulario">
        <h2 class="text-center mb-4">Registro de pacientes</h2>
        <form class="container">
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group input-group-lg">
                        <label class="input-group-text" for="txtNombre">Nombre del paciente</label>
                        <input class="form-control" id="txtNombre" type="input"
                            placeholder="Ingresa el nombre del paciente" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group input-group-lg">
                        <label class="input-group-text" for="txtPrimerApellido">Primer Apellido</label>
                        <input class="form-control" id="txtPrimerApellido" type="input"
                            placeholder="Ingresa el primer apellido del paciente" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group input-group-lg">
                        <label class="input-group-text" for="txtSegundoApellido">Segundo Apellido</label>
                        <input class="form-control" id="txtSegundoApellido" type="input"
                            placeholder="Ingresa el segundo apellido del paciente" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group input-group-lg">
                        <label class="input-group-text" for="txtFechaNacimiento">Fecha de nacimiento</label>
                        <input class="form-control" id="txtFechaNacimiento" type="date" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group input-group-lg">
                        <label class="input-group-text" for="txtGenero">Género</label>
                        <select id="txtGenero" class="form-select">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                            <option value="N">Prefiero no decirlo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <button type="button" class="btn btn-success btn-lg me-2" onclick="agregarPaciente();"">Guardar</button>
                    <button type="reset" class="btn btn-warning btn-lg">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Seccion de la tabla de pacientes -->
    <div id="seccionTabla" class="table-container">
        <h2 class="text-center mb-4">Registros de Pacientes</h2>
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Género</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaPacientes">

                </tbody>
            </table>
        </div>
    </div>
    <script src="../style/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/view_pacientes.js"></script>
</body>

</html>